# Compiled class files
*.class

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Eclipse project files
.project
.classpath

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nbiml

# Maven
target/

# Gradle
.gradle/
build/

# Library and bin directories
/bin/
/lib/

# Visual Studio Code
.vscode/

# Environment variables
.env

# Ignore large video files
*.mp4
*.avi
*.mov
